#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.resultList {
  display: flex;
  flex-direction: column;
  margin: revert;
  padding: 0;
  gap: 0.5rem;
}

.listItem {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.listedCountry {
  margin: 0;
}

.expand {
  font-size: small;
  padding: 0.3rem 0.6rem;
}

footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 2rem;
}