.peopleListing {
	text-align: start;
}

.container {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    gap: 1rem;
}

.edit {
	margin-bottom: 0;
	font-size: 0.7em;
	font-weight: 500;
}
